<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Projeto de Cadastro de uma pizzaria">
    <meta name="author" content="Dhonatan Joseildo">

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/cards.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="/scripts/index.js" defer type="module"></script>

    <title>Pizzaria Gosto Perfeito</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Pizzaria Gosto Perfeito</h1>
      </div>
    </header>
    <main>
      <section class="container">
        <div class="contentCadastro">
          <h2>Pizzas Cadastrada</h2>
          <div class="dropDown">
            <a id="registerPizza" href="#">Cadastrar</a>
            <div class="dropDown-content">

              <div>
                <a href="/registerPizza">Pizza</a>
              </div>
              <div>
                <a href="/registerBebida">Bebidas</a>
              </div>
              <div>
                <a href="#">Promoção</a>
              </div>

            </div>
          </div>
        </div>
        <div class="cards">
          <!---------------- CARDS DA PAGINA ------------->
          <% pizzas.forEach((pizza) => { %>
            <div class="card" data-id="<%= pizza.id %>">
              <div class="cadastroId"><%= pizza.id %></div>

              <div class="namePizza"><%= pizza.name %></div>
              <div class="nameIngredientes"><%= pizza.ingredientes %></div>
              <div class="amount">
                <p>Valor</p>
                <p><%= pizza.amount.toFixed(2).replace('.',',') %></p>
              </div>
              <div class="actionsButtonRight">
                <a href="/registerPizza/<%= pizza.id %>" class="edit pizza">
                  <img src="/images/edit-pizza.svg" alt="Editar Pizza" />
                </a>
                <button class="delete pizza">
                  <img src="/images/delete-pizza.svg" alt="Excluir Pizza" />
                </button>
              </div>
            </div>
          <%})%>

        </div>
        <div class="contentCadastro">
          <h2 class="titleBebidas">Bebidas Cadastrada</h2>
        </div>
        <div class="cards bebidas">
          <% bebidas.forEach((bebida) => { %>
            <div class="card bebida" data-id="<%= bebida.id %>">
              <div class="cadastroId"><%= bebida.id %></div>

              <div class="namePizza"><%= bebida.name %></div>
              <div class="amount">
                <p>Valor</p>
                <p><%= bebida.amount.toFixed(2).replace('.',',') %></p>
              </div>
              <div class="actionsButtonRight">
                <a href="/registerBebida/<%= bebida.id %>" class="edit pizza">
                  <img src="/images/edit-pizza.svg" alt="Editar Pizza" />
                </a>
                <button class="delete pizza">
                  <img src="/images/delete-pizza.svg" alt="Excluir Pizza" />
                </button>
              </div>
            </div>
          <%})%>
        </div>
      </section>

      <!--------------- modal exclusão --------------->
      <div class="bgModal">
        <div class="containerModal">
          <div class="contentModal">
            <h3 class="titleDelete">Excluir Pizza</h3>
            <p class="pDelete">
              Quer mesmo excluir essa pizza?
            </p>
            <p>
              Ela será apagado para sempre.
            </p>
            <p></p>

            <button class="deletePizza" type="submit" form="delete-pizza">
              Excluir Pizza
            </button>
            <button class="cancelDelete">Cancelar</button>

            <form
              action="/registerPizza/delete"
              method="POST"
              id="delete-pizza"
            ></form>
          </div>
        </div>
      </div>
      
    </main>
  </body>
</html>
