<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/menuAndPro.css">

  <script src="/scripts/menu.js" defer></script>
  <title>Menu</title>
</head>
<body class="bg">
  <%- include('parts/header')%>
  <main>
    <section class="container">
      <div class="buttonCart">
        <button type="button" class="openCart" onclick="openCart()">Carrinho</button>
      </div>

      <!---------------- TABELA DE PIZZAS ------------>
      <div class="titleCards">
        <h2>PIZZAS</h2>
      </div>
      <div class="cards">
        <% pizzas.forEach((pizza) => {%>
          
          <div class="card" data-id="<%= pizza.id %>">
            <div class="cardId"><%= pizza.id %></div>
            <div class="cardName"><%= pizza.name %></div>
            <div class="cardIngrediente"><%= pizza.ingredientes %></div>
            <div class="cardAmount">
              <p>Valor</p>
              <p class="amount">R$ <%= pizza.amount.toFixed(2).replace('.',',') %></p>
            </div>
  
            <div class="actionsButton">
              <button class="addOrder cart">
                <img src="/images/cart.svg" alt="Carrinho de compra">
              </button>
              
            </div>
          </div>
        <%})%> 
      </div>

<!------------------- TABELA DE BEBIDAS ------------>
      <div class="titleCards">
        <h2>BEBIDAS</h2>
      </div>
      <div class="cards bebidas">
        <% bebidas.forEach((bebida) => {%>
          
          <div class="card bebida" data-id="<%= bebida.id %>">
            <div class="cardId"><%= bebida.id %></div>
            <div class="cardName"><%= bebida.name %></div>
            
            <div class="cardAmount">
              <p>Valor</p>
              <p class="amount">R$ <%= bebida.amount.toFixed(2).replace('.',',') %></p>
            </div>
  
            <div class="actionsButton">
              <button class="addOrder cart">
                <img src="/images/cart.svg" alt="Carrinho de compra">
              </button>
              
            </div>
          </div>
        <%})%> 
      </div>
    </section>

    <!----------------- MODAL DO CART (carrinho)----------->
    <%- include('parts/cart')%>
  </main>
</body>
</html>